<div class="container-fluid">
    <div class="row">
        <div class="col-2 justify-content-around">
            <app-paw-navbar></app-paw-navbar>
        </div>
        <div class="col-8 mainpadding">
                <form [formGroup]="employeeForm" (ngSubmit)="createOrUpdateEmployee()">  
                    <div class="form-group">
                        <label for="firstname">Fornavn</label>
                        <input 
                            formControlName="firstname"
                            id="firstname" 
                            type="text" 
                            class="form-control">
                            <div *ngIf="!inEditMode && firstname?.touched && firstname?.invalid" class="alert alert-danger">
                                <div *ngIf="firstname?.errors?.['required']" >Fornavn skal angives</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Efternavn</label>
                        <input 
                            formControlName="lastname"
                            id="lastname" 
                            type="text" 
                            class="form-control">
                            <div *ngIf="!inEditMode && lastname?.touched && lastname?.invalid" class="alert alert-danger">
                                <div *ngIf="lastname?.errors?.['required']" >Efternavn skal angives</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                            formControlName="email"
                            id="email" 
                            type="text" 
                            class="form-control">
                            <div *ngIf="!inEditMode && email?.touched && email?.invalid" class="alert alert-danger">
                                <div *ngIf="email?.errors?.['required']" >Email skal angives</div>
                                <div *ngIf="email?.errors?.['emailExists']" >Email skal være unik</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefon</label>
                        <input 
                            formControlName="phone"
                            id="phone" 
                            type="text" 
                            class="form-control">
                            <div *ngIf="!inEditMode && phone?.touched && phone?.invalid" class="alert alert-danger">
                                <div *ngIf="phone?.errors?.['required']" >Telefon skal angives</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Kodeord</label>
                        <input 
                            formControlName="password"
                            id="password" 
                            type="text" 
                            class="form-control">
                            <div *ngIf="!inEditMode && password?.touched && password?.invalid" class="alert alert-danger">
                                <div *ngIf="password?.errors?.['required']" >Kodeordet skal angives</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="employeeType">Type </label> <br/>
                        <select 
                            formControlName="employeetype"
                            id="employeetype"
                            class="form-control">
                            <option disabled>Vælg medarbejdertype</option>
                            <option *ngFor="let empType of employeeTypeValue" [ngValue]="empType.id">{{empType.name}}</option>
                        </select>  
                        <div *ngIf="!inEditMode && employeetype?.touched && employeetype?.invalid" class="alert alert-danger">
                            <div *ngIf="employeetype?.errors?.['required']" >Type skal angives - klik for at vælge</div>
                        </div>
                    </div>
                    <br />
                    <div *ngIf="!inEditMode && userIsValid">
                        <button class="btn btn-primary btn-sm" type="submit">Opret medarbejder</button>
                    </div>
                    <div *ngIf="inEditMode">
                        <button class="btn btn-primary btn-sm" type="submit">Opdater medarbejder</button>
                        <button class="btn btn-primary btn-sm mx-2" type="button" (click)="setEditModeFalse()">Afbryd</button>
                    </div>
                </form>
                
                <br />
                <div class="form-group">
                    <label>Status: </label>
                    <label>{{getStatusLabel()}}</label>
                </div>
                <br />
                <br />
                <ul class="list-group">
                    <li 
                    *ngFor="let emp of employees" 
                    class="list-group-item">
                    {{ emp.firstName }} {{ emp.lastName}} {{ emp.email}} {{ emp.phone}} 
                    
                    <button class="btn btn-primary btn-sm mx-2 float-end" (click)="deleteEmployee(emp.id)">Slet</button>
                    <button class="btn btn-primary btn-sm mx-2 float-end" (click)="editEmployee(emp.id)">Opdater</button>
                    </li>
                
                </ul>
    <div>
</div>

