<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a  [routerLink]="['/home']" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Hjem</span>
                        </a>
                    </li>
                    
                    <li *ngIf="isAdmin()" class="nav-item">
                        <a [routerLink]="['/employee']" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-person-workspace"></i> <span class="ms-1 d-none d-sm-inline">Medarbejder</span> </a>
                    </li>
                    <li *ngIf="isAdmin()" class="nav-item">
                        <a [routerLink]="['/customer']" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Kunder</span> </a>
                    </li>

                    <li *ngIf="isAdmin()" class="nav-item">
                        <a [routerLink]="['/task']" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Opgaver</span></a>
                    </li>

                    
                    <li *ngIf="isEmployee()" class="nav-item">
                        <a [routerLink]="['/tasklist']" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Opgaver</span> </a>
                    </li>

                    <li>
                        <div class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Aktuelle bruger:{{userName}}</span> 
                            </div>
                    </li>
                    <li>
                        <button button class="btn btn-primary btn-sm mx-2" type="button" (click)="logOut()">Logud</button>
                    </li>

                </ul>
                
                

                <!--
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/images/98681.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
