<div class="container-fluid">
    <div class="row">
        <div class="col-2 justify-content-around">
            <app-paw-navbar></app-paw-navbar>
        </div>
        <div class="col-8 mainpadding">
            <ul class="list-group">
                <li 
                *ngFor="let curTask of tasksWithInfo" [ngStyle]="{'color' : getColor(curTask.startDate)}"
                class="list-group-item">
                {{ curTask.taskName }}  - Dato:{{ getDateWithOutTime(curTask.startDate)}} - kl:{{ curTask.startHour}}  - forventet tidsforbrug: {{ curTask.estimatedHours }}<br>
                {{ curTask.description }}<br>
                Kunde: &nbsp;{{ curTask.customerInfo }} 
                <button class="btn btn-primary btn-sm mx-2 float-end" [routerLink]="['/timeregistration',curTask.taskGuid]">Tid</button>
                </li> 
            </ul>
        </div>
